@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 16px;
}
/* Header */
header {
  background: linear-gradient(to right, #00120b, #042f24);
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  padding: 1.5rem 3.5rem;
}
.logo {
  color: #d8e4ff;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}
.highlight {
  color: red;
}

ul {
  display: flex;
}
li {
  list-style: none;
  padding: 0.5rem 1.5rem;
}
a {
  text-decoration: none;
  font-size: 1rem;
  color: #d8e4ff;
  transition: all 0.3s;
}
a:hover {
  color: #31e981;
  text-decoration: underline;
}
/* 1st section */
section {
  background: linear-gradient(to right, #00120b, #042f24);
}
.intro {
  flex: 1;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem 3.5rem;
  gap: 1rem;
}
.txt {
  flex: 2;
}
.txt span {
  color: #d8e4ff;
  font-size: 2.5rem;
}
.txt h1 {
  font-size: 2.5rem;
  color: #d8e4ff;
  margin-bottom: 2rem;
}

.txt p {
  font-size: 1rem;
  color: #d8e4ff;
}

.intro img {
  flex: 1;
  min-width: 30rem;
  max-width: 100%;
  height: auto;
  border-radius: 2.5rem;
}
/* Reason */
.light {
  background: #f2f1ed;
}
.reason {
  padding: 2rem;
  overflow-x: hidden;
}
.reason > p {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  color: #00120b;
  text-decoration: underline;
}
.town {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
.box {
  flex: 1;
  margin: 0.5rem;
  background-color: #0c4638;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 0.8rem;
  flex-wrap: wrap;
  border-radius: 1rem;
}

figure {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5rem;
}
img {
  flex: 1;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  align-self: auto;
  border-radius: 0.8rem;
}
figcaption {
  color: white;
}

/* Services */
article {
  padding: 3.5rem;
  background: linear-gradient(to right, #00120b, #042f24);
  text-align: center;
}
.service h3 {
  text-decoration: underline;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  color: #d8e4ff;
}
article h1 {
  font-size: 2.5rem;
  color: #d8e4ff;
  margin-bottom: 2rem;
}
.service p {
  font-size: 1rem;
  color: #d8e4ff;
}

.service {
  margin: 1rem 0;
}
/* Reviews */
.rev {
  padding: 3.5rem;
  text-align: center;
}
.rev h1 {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  color: #0c4638;
}
.review-card {
  background: #d8e4ff;

  color: #00120b;
  padding: 0.9rem;
  margin: 0.6rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.review-text {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

/* Book */

.main {
  padding: 3.5rem;
}
.last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: #d8e4ff;
  font-size: 2rem;
}

.cta {
  padding: 0.4rem 2rem;
  color: #00120b;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  background: #d8e4ff;
  outline: 0;
  border: 0;
  transition: all 0.3s;
  align-self: center;
}
.cta:hover {
  background: transparent;
  color: #d8e4ff;
  border: 1px #d8e4ff solid;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #f2f1ed;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  font-size: 0.8rem;
  color: #00120b;
}

/* Contact tab */
.background {
  background: #f2f1ed;
}
.hero-content {
  background-image: url(./Images/dogs1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}

.hero-content-inner {
  padding: 2rem;
  color: #f2f1ed;
}

.hero-content-inner h1 {
  font-size: 3.125rem;
  margin-bottom: 4rem;
}
.tour {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.rg {
  background: #042f24;
  color: #f2f1ed;
}
.rg:hover {
  color: #042f24;
  border: #042f24 1px solid;
  text-transform: uppercase;
}
.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-media {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
}
.logo-end {
  display: flex;
  flex-direction: column;
}
.social-media p {
  color: white;
  font-size: 1rem;
}

/* Gallery */
.gall {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.6rem;
  width: 100%;
}
.g-item {
  flex: 1 1 calc(33.333% - 1.25rem);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 0.3rem;
  max-width: calc(33.333% - 1.25rem);
}
.g-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 0.8rem;
}
.g-item:hover img {
  transform: scale(1.2);
}

/* Common container */
.container {
  max-width: 1225px;
  margin: 0 auto;
}

/* media queries */
@media (max-width: 864px) {
  .txt {
    text-align: center;
  }
  .hero-content-inner h1 {
    font-size: 2.125rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 695px) {
  li {
    padding: 0.5rem;
  }

  nav {
    padding: 1.5rem;
  }
  .intro {
    padding: 1.5rem;
  }
  .reason {
    padding: 1.5rem;
  }
  article {
    padding: 1.5rem;
  }
  .reviews {
    padding: 1.5rem;
  }

  article h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .service h3 {
    font-size: 1.5rem;
  }
  .service p {
    font-size: 1rem;
  }
  .g-item {
    flex: 1 1 calc(50% - 1.25rem);
    max-width: calc(50% - 1.25rem);
  }
}
@media (max-width: 605px) {
  .main {
    padding: 2rem;
  }
}
@media (max-width: 560px) {
  .main p {
    font-size: 1.5rem;
  }
  .cta {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 535px) {
  nav {
    justify-content: center;
  }
  .intro img {
    min-width: 20rem;
  }
  article h1 {
    text-align: center;
  }
  .star p {
    text-align: center;
  }
}
@media (max-width: 440px) {
  .last {
    justify-content: center;
  }
  .g-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
@media (max-width: 496px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .logo-end {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .logo-end a {
    font-size: 0.8rem;
  }
}
@media (max-width: 422px) {
  li a {
    font-size: 1rem;
  }
  .hero-image {
    padding: 1rem;
  }
}

@media (max-width: 348px) {
  .intro img {
    min-width: 15rem;
  }
  .main {
    padding: 1rem;
  }
}
